@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --border-radius: 0px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 21px;
  line-height: 1.7;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 1.2rem;
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #bd93f9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container main {
  margin-bottom: 2rem;
}

.highlight {
  overflow-x: auto;
}

main img {
  box-shadow: 0px 0px 6px #bd93f9;
  border-radius: var(--border-radius);
  max-width: 10%;
  padding: 1px;
}

video {
  max-width: 100%;
}

.no-shadow {
  box-shadow: none;
}

nav ul {
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav ul li {
  margin-bottom: 0.75rem;
}

nav ul li:not(:last-of-type) {
  margin-right: 1rem;
}

.posts {
  border-left: 1px dashed #bd93f9;
  list-style: none;
  padding-left: 1.25rem;
}

.post {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.5rem;
  position: relative;
}

.post .publish-date {
  font-size: 0.75rem;
}

.post a {
  font-size: 1.15rem;
}

.post::after {
  border: 1px solid #bd93f9;
  border-radius: 50%;
  background-color: #282a36;
  content: '';
  height: 0.5rem;
  left: -1.5rem;
  position: absolute;
  top: 10px;
  width: 0.5rem;
}

.braindumps {
  border-left: 1px dashed #bd93f9;
  list-style: none;
  padding-left: 1.25rem;
}

.braindump {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.5rem;
  position: relative;
}

.braindump .publish-date {
  font-size: 0.75rem;
}

.braindump a {
  font-size: 1.15rem;
}

.braindump::after {
  border: 1px solid #bd93f9;
  border-radius: 50%;
  background-color: #282a36;
  content: '';
  height: 0.5rem;
  left: -1.5rem;
  position: absolute;
  top: 10px;
  width: 0.5rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

blockquote {
  position: relative;
}

blockquote::before {
  background-color: #50fa7b;
  border-radius: var(--border-radius);
  bottom: 0px;
  content: '';
  left: -40px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.highlighter-rouge {
  margin-bottom: 1rem;
}

code {
  background-color: #44475a;
  border-radius: var(--border-radius);
  font-size: 0.85rem;
  padding: 3px 6px;
}

pre.highlight {
  padding-left: 0.5rem;
}

pre {
  font-size: 0.85rem;
  line-height: 1.5;
}

pre code {
  background-color: transparent;
  padding: 0;
}

.text-center {
  text-align: center;
}

hr {
  color: #bd93f9;
  margin: 2rem auto;
  width: 8rem;
}

header {
  margin-bottom: 1.2rem;
}

header h1 {
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 1.2rem;
  color: #f8f8f2;
}

header h1 span {
  display: inline-block;
  opacity: 0;
  position: relative;
  transform: translateY(-20px);
  transition: opacity 0.15s ease-out, transform 0.3s ease-out;
  z-index: 2;
}

header h1:hover span {
  opacity: 1;
  transform: translateY(0);
}

article h2 {
  margin-bottom: 0;
}

.post-meta {
  color: #bd93f9;
  font-size: 0.75rem;
  margin-top: 0;
}

.braindump-meta {
  color: #bd93f9;
  font-size: 0.75rem;
  margin-top: 0;
}

.confetti-please {
  --extra-confettiNumber: 220;
  --extra-confettiLengthVariance: 4;
  --extra-confettiWeightVariance: 3;

  background-image: paint(extra-confetti);
}

.post.published-recently.confetti-please {
  margin-bottom: 0.5rem;
  padding-bottom: 1.75rem;
}

.post.published-recently.confetti-please .publish-date,
.post.published-recently.confetti-please a {
  background-color: #282a36;
}

.btn {
  border-radius: var(--border-radius);
  color: white;
  display: inline-block;
  font-size: 0.75rem;
  padding: 3px 9px 3px 9px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn-twitter {
  background-color: #8be9fd;
}

.btn-twitter:active,
.btn-twitter:focus,
.btn-twitter:hover {
  background-color: #83a598;
}

.btn-github {
  background-color: #44475a;
}

.btn-github:hover {
  background-color: #bd93f9;
}

.btn-rss {
  background-color: #ffb86c;
}

.btn-rss:hover {
  background-color: #d65d0e;
}

.follow-btns .btn + .btn {
  margin-left: 0.5rem;
}

@media (min-width: 22em) {
  header h1 {
    font-size: 2rem;
  }
}

@media (min-width: 28em) {
  nav ul li {
    margin-bottom: 0;
  }

}

@media (min-width: 37.5em) {
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    margin-bottom: 0;
  }

  .follow-btns {
    text-align: right;
  }
}

@media (min-width: 60em) {
  figure {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .container {
    display: flex;
    gap: 2rem;
  }

  .container main {
    flex-grow: 1;
    margin-bottom: 0;
  }

}

@media (min-width: 65em) {
  body,
  body.single-post {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  body {
    width: 90%;
  }

  body.single-post {
    width: 44rem;
  }
}

@media (min-width: 88em) {
  body {
    width: 60rem;
  }

}

