main {
  --color-prettylights-syntax-comment: #6272a4;
  --color-prettylights-syntax-constant: #bd93f9;
  --color-prettylights-syntax-entity: #ff79c6;
  --color-prettylights-syntax-storage-modifier-import: #f8f8f2;
  --color-prettylights-syntax-entity-tag: #8be9fd;
  --color-prettylights-syntax-keyword: #ff79c6;
  --color-prettylights-syntax-string: #f1fa8c;
  --color-prettylights-syntax-variable: #50fa7b;
  --color-prettylights-syntax-brackethighlighter-unmatched: #ff5555;
  --color-prettylights-syntax-invalid-illegal-text: #f8f8f2;
  --color-prettylights-syntax-invalid-illegal-bg: #ff5555;
  --color-prettylights-syntax-carriage-return-text: #f8f8f2;
  --color-prettylights-syntax-carriage-return-bg: #ff5555;
  --color-prettylights-syntax-string-regexp: #ffb86c;
  --color-prettylights-syntax-markup-list: #f1fa8c;
  --color-prettylights-syntax-markup-heading: #bd93f9;
  --color-prettylights-syntax-markup-italic: #f8f8f2;
  --color-prettylights-syntax-markup-bold: #f8f8f2;
  --color-prettylights-syntax-markup-deleted-text: #ff5555;
  --color-prettylights-syntax-markup-deleted-bg: #4e2906;
  --color-prettylights-syntax-markup-inserted-text: #50fa7b;
  --color-prettylights-syntax-markup-inserted-bg: #0c2d6b;
  --color-prettylights-syntax-markup-changed-text: #ffb86c;
  --color-prettylights-syntax-markup-changed-bg: #4e2906;
  --color-prettylights-syntax-markup-ignored-text: #f8f8f2;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #bd93f9;
  --color-prettylights-syntax-brackethighlighter-angle: #6272a4;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #44475a;
  --color-prettylights-syntax-constant-other-reference-link: #8be9fd;
  --color-btn-text: #f8f8f2;
  --color-btn-bg: #44475a;
  --color-btn-border: #f8f8f21a;
  --color-btn-shadow: 0 0 #0000;
  --color-btn-inset-shadow: 0 0 #0000;
  --color-btn-hover-bg: #6272a4;
  --color-btn-hover-border: #8b949e;
  --color-btn-active-bg: #44475a;
  --color-btn-active-border: #6e7681;
  --color-btn-selected-bg: #282a36;
  --color-btn-primary-text: #f8f8f2;
  --color-btn-primary-bg: #6272a4;
  --color-btn-primary-border: #f8f8f21a;
  --color-btn-primary-shadow: 0 0 #0000;
  --color-btn-primary-inset-shadow: 0 0 #0000;
  --color-btn-primary-hover-bg: #bd93f9;
  --color-btn-primary-hover-border: #f8f8f21a;
  --color-btn-primary-selected-bg: #6272a4;
  --color-btn-primary-selected-shadow: 0 0 #0000;
  --color-btn-primary-disabled-text: #ffffff80;
  --color-btn-primary-disabled-bg: #6272a499;
  --color-btn-primary-disabled-border: #f8f8f21a;
  --color-action-list-item-default-hover-bg: #44475a1f;
  --color-segmented-control-bg: #6e76811a;
  --color-segmented-control-button-bg: #282a36;
  --color-segmented-control-button-selected-border: #6e7681;
  --color-fg-default: #f8f8f2;
  --color-fg-muted: #6272a4;
  --color-fg-subtle: #6e7681;
  --color-canvas-default: #282a36;
  --color-canvas-overlay: #44475a;
  --color-canvas-inset: #21222c;
  --color-canvas-subtle: #44475a;
  --color-border-default: #6272a4;
  --color-border-muted: #44475a;
  --color-neutral-muted: #6e768166;
  --color-accent-fg: #8be9fd;
  --color-accent-emphasis: #50fa7b;
  --color-accent-muted: #bd93f966;
  --color-accent-subtle: #bd93f91a;
  --color-success-fg: #50fa7b;
  --color-attention-fg: #ffb86c;
  --color-attention-muted: #ffb86c66;
  --color-attention-subtle: #ffb86c26;
  --color-danger-fg: #ff5555;
  --color-danger-muted: #ff555566;
  --color-danger-subtle: #ff55551a;
  --color-primer-shadow-inset: 0 0 #0000;
  --color-scale-gray-7: #21222c;
  --color-scale-blue-8: #0c2d6b;
}

/*! Extensions from @primer/css/alerts/flash.scss */
--color-social-reaction-bg-hover: var(--color-scale-gray-7);
--color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}
main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg);
}
main .gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-dark.gif);
}
