main {
  --color-prettylights-syntax-comment: #565f89;
  --color-prettylights-syntax-constant: #bb9af7;
  --color-prettylights-syntax-entity: #bb9af7;
  --color-prettylights-syntax-storage-modifier-import: #c0caf5;
  --color-prettylights-syntax-entity-tag: #7dcfff;
  --color-prettylights-syntax-keyword: #bb9af7;
  --color-prettylights-syntax-string: #9ece6a;
  --color-prettylights-syntax-variable: #9ece6a;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f7768e;
  --color-prettylights-syntax-invalid-illegal-text: #c0caf5;
  --color-prettylights-syntax-invalid-illegal-bg: #f7768e;
  --color-prettylights-syntax-carriage-return-text: #c0caf5;
  --color-prettylights-syntax-carriage-return-bg: #f7768e;
  --color-prettylights-syntax-string-regexp: #e0af68;
  --color-prettylights-syntax-markup-list: #e0af68;
  --color-prettylights-syntax-markup-heading: #bb9af7;
  --color-prettylights-syntax-markup-italic: #c0caf5;
  --color-prettylights-syntax-markup-bold: #c0caf5;
  --color-prettylights-syntax-markup-deleted-text: #f7768e;
  --color-prettylights-syntax-markup-deleted-bg: #291d0a;
  --color-prettylights-syntax-markup-inserted-text: #9ece6a;
  --color-prettylights-syntax-markup-inserted-bg: #1a1b26;
  --color-prettylights-syntax-markup-changed-text: #e0af68;
  --color-prettylights-syntax-markup-changed-bg: #291d0a;
  --color-prettylights-syntax-markup-ignored-text: #c0caf5;
  --color-prettylights-syntax-markup-ignored-bg: #292e42;
  --color-prettylights-syntax-meta-diff-range: #bb9af7;
  --color-prettylights-syntax-brackethighlighter-angle: #565f89;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #292e42;
  --color-prettylights-syntax-constant-other-reference-link: #7dcfff;
  --color-btn-text: #c0caf5;
  --color-btn-bg: #292e42;
  --color-btn-border: #c0caf51a;
  --color-btn-shadow: 0 0 #0000;
  --color-btn-inset-shadow: 0 0 #0000;
  --color-btn-hover-bg: #565f89;
  --color-btn-hover-border: #414868;
  --color-btn-active-bg: #292e42;
  --color-btn-active-border: #414868;
  --color-btn-selected-bg: #1a1b26;
  --color-btn-primary-text: #c0caf5;
  --color-btn-primary-bg: #565f89;
  --color-btn-primary-border: #c0caf51a;
  --color-btn-primary-shadow: 0 0 #0000;
  --color-btn-primary-inset-shadow: 0 0 #0000;
  --color-btn-primary-hover-bg: #bb9af7;
  --color-btn-primary-hover-border: #c0caf51a;
  --color-btn-primary-selected-bg: #565f89;
  --color-btn-primary-selected-shadow: 0 0 #0000;
  --color-btn-primary-disabled-text: #c0caf580;
  --color-btn-primary-disabled-bg: #565f8999;
  --color-btn-primary-disabled-border: #c0caf51a;
  --color-action-list-item-default-hover-bg: #292e421f;
  --color-segmented-control-bg: #4148681a;
  --color-segmented-control-button-bg: #1a1b26;
  --color-segmented-control-button-selected-border: #414868;
  --color-fg-default: #c0caf5;
  --color-fg-muted: #565f89;
  --color-fg-subtle: #414868;
  --color-canvas-default: #1a1b26;
  --color-canvas-overlay: #292e42;
  --color-canvas-inset: #16161e;
  --color-canvas-subtle: #292e42;
  --color-border-default: #565f89;
  --color-border-muted: #292e42;
  --color-neutral-muted: #41486866;
  --color-accent-fg: #7dcfff;
  --color-accent-emphasis: #7aa2f7;
  --color-accent-muted: #bb9af766;
  --color-accent-subtle: #bb9af71a;
  --color-success-fg: #9ece6a;
  --color-attention-fg: #e0af68;
  --color-attention-muted: #e0af6866;
  --color-attention-subtle: #e0af6826;
  --color-danger-fg: #f7768e;
  --color-danger-muted: #f7768e66;
  --color-danger-subtle: #f7768e1a;
  --color-primer-shadow-inset: 0 0 #0000;
  --color-scale-gray-7: #16161e;
  --color-scale-blue-8: #1a1b26;
}

/*! Extensions from @primer/css/alerts/flash.scss */
--color-social-reaction-bg-hover: var(--color-scale-gray-7);
--color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}
main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg);
}
main .gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-dark.gif);
}
