.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #6272a4;
  font-style: italic;
}

.highlight .cp {
  color: #f8f8f2;
  font-weight: bold;
}

.highlight .c1 {
  color: #6272a4;
  font-style: italic;
}

.highlight .cs {
  color: #f8f8f2;
  font-weight: bold;
  font-style: italic;
}

.highlight .c,
.highlight .cd {
  color: #6272a4;
  font-style: italic;
}

.highlight .err {
  color: #ff5555;
  background-color: #451a1a;
}

.highlight .gd {
  color: #f8f8f2;
  background-color: #ff79c6;
}

.highlight .ge {
  color: #f8f8f2;
  font-style: italic;
}

.highlight .gr {
  color: #f8f8f2;
}

.highlight .gh {
  color: #f8f8f2;
}

.highlight .gi {
  color: #f8f8f2;
  background-color: #50fa7b;
}

.highlight .go {
  color: #8be9fd;
}

.highlight .gp {
  color: #f8f8f2;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #f8f8f2;
}

.highlight .gt {
  color: #ff5555;
}

.highlight .kc {
  color: #8be9fd;
  font-weight: bold;
}

.highlight .kd {
  color: #8be9fd;
  font-weight: bold;
}

.highlight .kn {
  color: #8be9fd;
  font-weight: bold;
}

.highlight .kp {
  color: #8be9fd;
  font-weight: bold;
}

.highlight .kr {
  color: #8be9fd;
  font-weight: bold;
}

.highlight .kt {
  color: #bd93f9;
  font-weight: bold;
}

.highlight .k,
.highlight .kv {
  color: #f8f8f2;
  font-weight: bold;
}

.highlight .mf {
  color: #50fa7b;
}

.highlight .mh {
  color: #50fa7b;
}

.highlight .il {
  color: #50fa7b;
}

.highlight .mi {
  color: #50fa7b;
}

.highlight .mo {
  color: #50fa7b;
}

.highlight .m,
.highlight .mb,
.highlight .mx {
  color: #50fa7b;
}

.highlight .sb {
  color: #ffb86c;
}

.highlight .sc {
  color: #ffb86c;
}

.highlight .sd {
  color: #ffb86c;
}

.highlight .s2 {
  color: #ffb86c;
}

.highlight .se {
  color: #ffb86c;
}

.highlight .sh {
  color: #ffb86c;
}

.highlight .si {
  color: #ffb86c;
}

.highlight .sx {
  color: #ffb86c;
}

.highlight .sr {
  color: #f1fa8c;
}

.highlight .s1 {
  color: #ffb86c;
}

.highlight .ss {
  color: #ff79c6;
}

.highlight .s {
  color: #ffb86c;
}

.highlight .na {
  color: #8be9fd;
}

.highlight .bp {
  color: #f8f8f2;
}

.highlight .nb {
  color: #8be9fd;
}

.highlight .nc {
  color: #bd93f9;
  font-weight: bold;
}

.highlight .no {
  color: #8be9fd;
}

.highlight .nd {
  color: #8be9fd;
  font-weight: bold;
}

.highlight .ni {
  color: #bd93f9;
}

.highlight .ne {
  color: #ff5555;
  font-weight: bold;
}

.highlight .nf {
  color: #ff5555;
  font-weight: bold;
}

.highlight .nl {
  color: #ff5555;
  font-weight: bold;
}

.highlight .nn {
  color: #f8f8f2;
}

.highlight .nt {
  color: #ff79c6;
}

.highlight .vc {
  color: #8be9fd;
}

.highlight .vg {
  color: #8be9fd;
}

.highlight .vi {
  color: #8be9fd;
}

.highlight .nv {
  color: #8be9fd;
}

.highlight .ow {
  color: #f8f8f2;
  font-weight: bold;
}

.highlight .o {
  color: #f8f8f2;
  font-weight: bold;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight {
  background-color: #282a36;
}

