<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | DemonKingSwarn</title>

    <link href="/blog/assets/css/rouge-github.css" rel="stylesheet" />
    <link href="/blog/assets/css/custom.css" rel="stylesheet" />
    
    <!-- Include FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ site.title }}"
      href="/feed.xml"
    />

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  </head>
  <body>
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="/blog"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/blog/posts"><i class="fas fa-file-alt"></i> Posts</a></li>
        <li><a href="/blog/braindumps"><i class="fas fa-brain"></i> Braindumps</a></li>
      </ul>
    </nav>

    <div class="container">
      <main>{{ content }}</main>
    </div>

    <script src="/assets/js/main.js"></script>
    <script src="https://unpkg.com/css-paint-polyfill@3.2.0/dist/css-paint-polyfill.js"></script>
    <script src="/assets/js/confetti.js"></script>
  </body>
</html>

