<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="Kg4d0IRSxukjumBhd4jDiC6txVRlb-4jOfl-jT7cD4A" />
    <title>{{ page.title }} | DemonKingSwarn</title>
    <link href="/blog/assets/css/rouge-github.css" rel="stylesheet" />
    <link href="/blog/assets/css/custom.css" rel="stylesheet" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ site.title }}"
      href="/blog/feed.xml"
    />

    <link rel="canonical" href="{{ site.url }}/blog/{{ page.url }}" />
  </head>
  <body class="single-post">
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="/blog">Home</a></li>
        <li><a href="/blog/posts">Posts</a></li>
        <li><a href="/blog/braindumps">Braindumps</a></li>
      </ul>
    </nav>

    <main>
      <article>
        <h2>{{ page.title }}</h2>
        {% include published.html %} {{ content }}       
      </article>
    </main>

    <script src="/blog/assets/js/main.js"></script>
    <script src="https://giscus.app/client.js"
        data-repo="DemonKingSwarn/blog"
        data-repo-id="R_kgDOI_MC3A"
        data-category-id="DIC_kwDOI_MC3M4CaRat"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
  </body>
</html>
